html {
    background-color: #F4F4F4;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #303135;
}

#app {
    height: 100%; /* Fill available vertical space */
    display: flex;
    flex-direction: column; /* Stack content vertically */
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center horizontally */
    width: 100%; /* Full width */
}

#content {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    justify-content: center;
    gap: 20px; /* Add space between items */
    align-items: center; /* Center items horizontally (optional) */
    padding: 20px; /* Optional padding */
    /*width: 100%;*/
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F4F4F4;
    padding: 10px;
    width: 80%;
    text-align: center;
}

.page-title {
    font-size: 20px;
}

.button-style {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none; /* Remove underline */
    background-color: #FC7E0B; /* Button color */
    color: white; /* Text color */
    border: 2px solid #FC7E0B;
    border-radius: 4px;
    font-family: inherit;
    font-weight: 600;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.button-style:hover {
    background-color: #D96809; /* Darker shade for hover */
    transform: scale(1.05);
}

.button-style.menu-button {
    width: 100%;
    max-width: 264px;
}

.button-style.secondary-button {
    background-color: transparent;
    color: #FC7E0B;
    border: 2px solid #FC7E0B;
}

.site-header {
    width: 100%;
    display: flex;
    justify-content: center; /* Center the image horizontally */
    align-items: center; /* Center vertically if needed */
    margin-bottom: 0px; /* Spacing between header and content */
}

.header-image {
    width: calc(80% - 40px); /* Match button width (adjust as needed) */
    max-width: 160px; /* Optional max width for larger screens */
    object-fit: cover; /* Ensure proper scaling */
}

.content-container {
    background-color: #FFF;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

form label {
    font-size: 14px;
    margin-bottom: 5px;
}

form input,
form textarea {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
}

form input[type="checkbox"] {
    width: auto;
    margin-right: 10px;
}

form button {
    padding: 10px 20px;
    background-color: #FC7E0B;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    font-family: inherit;
}

form button:hover {
    background-color: #D96809;
}

form h2,
form h3 {
    font-size: 18px;
    margin-top: 20px;
}

.form-footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 24px;
    justify-content: space-between;
}

.form-footer > .button-style {
    width: 100%;
    flex: 1;
}

.back-button-container {
    margin-top: 20px;
    text-align: left;
}

#back-to-ssor {
    padding: 10px 20px;
    background-color: #D96809;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#emergencyPlan {
    background-color: #FFF;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;
}

.emergencyList {
    list-style-position: inside; /* Ensures bullet points are visible */
    text-align: left; /* Aligns the list items to the left */
}

.emergencyList li {
    text-align: left;
    margin-bottom: 10px;
}

#content {
    text-align: left; /* Sætter tekstjusteringen til venstre */
    padding-left: 20px; /* Tilføjer lidt indrykning for bedre visning */
}

#content ul {
    list-style-type: none; /* Fjern standard punkttegn */
    padding-left: 0; /* Fjern eventuelt ekstra indrykning */
}

#content li {
    margin-bottom: 10px; /* Giver lidt afstand mellem listen */
}

table {
    border-collapse: collapse;
    font-size: 14px;
}

th {
    font-weight: 600;
}

/* Table headings */
#OR-archive-table > thead > tr > th {
    border-bottom: 1px solid #CDCDCE;
    padding: 12px 16px;
    text-transform: uppercase;
    width: 25%;
}

#OR-archive-table > tbody > tr:nth-of-type(even) {
    background-color: #ECECEC;
}

#OR-archive-table > tbody > tr > td {
    padding: 12px 16px;
    width: 25%;
    cursor: pointer;
}

#OR-archive-table td.error-description {
    max-width: calc(33.33vw - 32px);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}




